<div class="bg-light text-center py-4 rounded shadow-sm mb-4">
  <h1 class="display-6 fw-bold text-primary">My Recurrings</h1>
</div>
<div class="mx-4 d-flex justify-content-end">
  <button class="btn btn-outline-primary px-3" (click)="openAddDialog()">
    <i class="fas fa-plus me-1"></i> Add Recurring
  </button>
  <button class="btn btn-outline-success px-3" (click)="exportReport()">
    <i class="fas fa-file-download me-1"></i> Download Report
  </button>
</div>
<div>
  <ul class="list-group mt-3 mx-4">
    <li *ngFor="let wd of pagedRecurring"
      class="list-group-item shadow-sm d-flex justify-content-between align-items-center mb-2 rounded border px-4 py-3">
      <div class="flex-grow-1">
        <h6 class="mb-1 text-dark">{{ wd.name }}</h6>
        <p class="mb-0 text-muted">Category: {{ wd.categoryName }}</p>
        <p class="mb-0 text-muted">Wallet: {{ wd.walletName}}</p>
        <p class="mb-0 text-muted">Amount: <strong>{{ wd.amount}}</strong></p>
      </div>
      <div class="text-end">
        <button class="btn btn-sm btn-outline-danger me-2" (click)="openDeleteDialog(wd)">
          <i class="fas fa-trash"></i>
        </button>
        <button class="btn btn-sm btn-outline-warning" (click)="openUpdateDialog(wd)">
          <i class="fas fa-pen"></i>
        </button>
      </div>
    </li>
  </ul>

  <nav *ngIf="totalPages >= 1" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
      </li>

      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="currentPage === (i + 1)">
        <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
      </li>
    </ul>
  </nav>
</div>